In [107]:
import pandas as pd

label_df = pd.read_csv('6_hasil_label_lda.csv')

In [108]:
label_df['cleaned'] = label_df['text']

# join the labeled text, to the appropriate id

In [109]:
df1 = pd.read_pickle('data/3_koinworks_embeddings.pkl')

In [110]:
df1 = df1[['id', 'tweet', 'cleaned']]
df1['range_id']=[x for x in range(len(df1))]

In [111]:
df1.head(2)

,id,tweet,cleaned,range_id
0,1ce6ad69-99c0-40f0-9c79-8171e554a791,KoinWorks x Investashe : I Am A Financially In...,x investashe i am a financially independent wo...,0
1,92932aa5-2077-49c5-8790-843347424ea1,Follow sekarang! Dapatkan informasi terkini te...,follow dapatkan informasi terkini covid indone...,1

In [116]:
test12 = df1.merge(df, on='cleaned', how='left')

In [118]:
test12.label.fillna(2, inplace=True)

In [119]:
test12

,id,tweet,cleaned,range_id_x,text,range_id_y,score,topic_id,label
0,1ce6ad69-99c0-40f0-9c79-8171e554a791,KoinWorks x Investashe : I Am A Financially In...,x investashe i am a financially independent wo...,0,NaN,NaN,NaN,NaN,2.0
1,92932aa5-2077-49c5-8790-843347424ea1,Follow sekarang! Dapatkan informasi terkini te...,follow dapatkan informasi terkini covid indone...,1,NaN,NaN,NaN,NaN,2.0
2,cee50078-4ddc-4191-a6f5-1546004278fc,@koinworks please check dm & response...thanks,please check dm response thanks,2,please check dm response thanks,3.0,0.268927,7.0,1.0
3,1a89a8a6-bc87-4739-b945-d739798c5113,"Case itu terjadi thn lalu min, sblm pandemi. A...",case thn min sblm pandemi mendanai krn tenor h...,3,case thn min sblm pandemi mendanai krn tenor h...,4.0,0.299957,29.0,1.0
4,97684298-d9da-4a92-86dd-a3b8c8c778f6,"Mulai dari Bibit, Bareksa, Tanamduit, hingga K...",bibit bareksa tanamduit investasi idntimestech...,4,NaN,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...
1892,42e055e0-31b6-4ddf-a830-2fbc6f6b13e1,Min masih blom ada voucher koinworks. Lama kal...,min blom ada voucher kali update nya rmzp4ohyvb,1892,NaN,NaN,NaN,NaN,2.0
1893,8ef4542d-b617-4903-ac84-f53f32c6c2e0,KoinWorks Salurkan Pinjaman Rp230 Miliar per B...,salurkan pinjaman rp230 miliar technobusiness ...,1893,NaN,NaN,NaN,NaN,2.0
1894,cd06b4ea-3e75-45eb-907a-168a1c9f69e2,KoinWorks salurkan pinjaman Rp 230 miliar per ...,salurkan pinjaman rp miliar kuartal ii keuanga...,1894,NaN,NaN,NaN,NaN,2.0
1895,d6ce3e6c-104c-4be7-80f9-0242772526c6,"Halo, saya kasih dana Investasi 50.000 di Koin...",halo kasih dana investasi ayo gabung detil inv...,1895,halo kasih dana investasi ayo gabung detil inv...,1712.0,0.259943,1.0,1.0
1896,aa96c532-9f4d-4bc6-9616-8beae1241cd5,@koinworks Saya baru menerima sms mengenai kon...,menerima sms konfirmasi akun tolong info sms s...,1896,menerima sms konfirmasi akun tolong info sms s...,1713.0,0.367402,7.0,1.0

In [144]:
df = test12[['label', 'cleaned']]

In [145]:
df['label'] = df['label'].apply(lambda x: 'complaint' if x < 2 else 'not_complaint')
df.columns = ['label', 'cleaned']
df = pd.concat([df, df.label.astype('str').str.get_dummies()], axis=1, sort=False)

/home/svmihar/miniconda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [147]:
df = df[['cleaned', 'complaint', 'not_complaint']]
df.head()

                                             cleaned  complaint  not_complaint
0  x investashe i am a financially independent wo...          0              1
1  follow dapatkan informasi terkini covid indone...          0              1
2                    please check dm response thanks          1              0
3  case thn min sblm pandemi mendanai krn tenor h...          1              0
4  bibit bareksa tanamduit investasi idntimestech...          0              1

In [149]:
df.to_csv('./data/labeled_complaints.csv', index=False)